@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jaini&family=Jersey+25+Charted&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100..900&family=Jaini&family=Jersey+25+Charted&family=Poetsen+One&display=swap');
html{
    background-color: rgb(5, 5, 5);
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading{
    padding-left: 50px;
    padding-top: 30px;
    font-family: "Inter", sans-serif;
}
.link{
    padding-right: 50px;
    padding-top: 30px;
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.link1{
    padding: 10px;
}
.biodata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.biodata1{
    padding-left: 100px;
    padding-top: 80px;
}
.biodata2{
    padding-right: 720px;
    padding-top: 80px;
    font-size: large;
}
.about{
    padding-left: 70px;
    padding-right: 40px;
}
.education{
    padding-left: 70px;
    padding-right: 40px;
}
.skills{
    padding-left: 70px;
    padding-right: 40px;
}
.skills-sub{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.cod{
    border: 2px cyan solid;
    margin: 20px;
    padding: 20px;
}
.Experience{
    padding-left: 70px;
    padding-right: 40px;
}
.certificates{
    padding-left: 70px;
    padding-right: 40px;
}
.projects{
    padding-left: 70px;
    padding-right: 40px;
}
.awards{
    padding-left: 70px;
    padding-right: 40px;
}
.menu{
    align-items: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 30px;
    width: 800px;
    padding-left: 350px;
    position: sticky;
}